/* APPARTMENT IMAGE */
.appartment-card-image {
   /* width: 15rem; */
   background-color: white;
   border-radius: 1rem;
   padding: 0.5rem;
   box-shadow: 0 0 16px #0000002e;
   flex-grow: 1;
   transition: all 0.2s;
   flex-basis: 30%;
   min-width: 15rem;
   cursor: pointer;
   transition: all 200ms;
   transform: scale(1.02);
}



.appartment-card-image img {
   border-radius: 1rem 1rem 0 0;
   height: 10rem;
   width: 100%;
   object-fit: cover;
}

.appartment-card p,
.appartment-card h3,
.popular-description p,
.popular-description h3 {
   margin: 0.2rem;
}

.blue {
   color: #0065FC;
}

.grey {
   color: #F2F2F2;
}

/* POPULAR CARD */
.popular {
   display: flex;
   flex-direction: column;

}

.popular-card.appartment-card img {
   height: auto;
   border-radius: 1rem 0 0 1rem;
   width: 40%;
   margin-right: 0.5rem;
   object-fit: cover;
   object-position: center;
   cursor: pointer;



}

.popular-description {
   flex-basis: 100%;
   display: flex;
   flex-direction: column;
}



.popular-card {
   display: flex;
   min-width: 17rem;
   max-height: 10rem;
   cursor: pointer;
  }

.popular-card .stars {
   margin-top: auto;
}

.popular h3 {
   display: flex;
   justify-content: space-between;
}

.popular h3,
.city h3 {
   margin-top: 0.5rem;
}