/* WILDCARD */

* {
    box-sizing: border-box;
    font-family: "raleway", sans-serif, 'Times New Roman', Times, serif;
}

body{
    margin-left: 100px;
    margin-right: 100px;

}

a {
    color: inherit;
    text-decoration: none;
}




/* BODY */

.wrapper {
    padding: 0 2rem;
}

.wrapper p {
    margin-bottom: 1rem;
}


@media (max-width: 768px) { 
    
    body {
        margin-left: 10px;
        margin-right: 10px;
   
    }
    
.wrapper{
    padding: 0 0;
}

}