/* FILTERS */

.filter-list {
    display: flex;
    align-items: center;
    gap: 1rem 2rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.filter-list {
    margin-bottom: 0;
}



.filter {
    border: 2px solid #DEEBFF;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    transition: 100ms;
    cursor: pointer;
}


.filter .fas {
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin: -2px;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}




.filter span {
    font-weight: bold;
    padding: 0 1rem;

}

.filter:hover {
    background-color: #DEEBFF;
    transform: scale(1.02);

}

@media (max-width: 768px) {

 
    }

