footer
{
    background-color: #F2F2F2;
    /* width: 100%; */
    /* height: 20vh; */
    /* height: 15rem; */

    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
}

footer > *{

    /* flex-basis: 28%; */
    background-color: #F2F2F2;
 


}

@media (max-width:768px) {
    footer{
        flex-direction: column;
        padding-left: 2rem;
        
    }
}





