/* SEARCH-FORM */
.search-form {
    display: flex;
    align-items: center;
    font-size: 1.2rem;

}

.search-form>*,
.search-form input::placeholder {
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
}

.search-form i {

    background-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem;
    font-size: 1.5rem;
}

.search-form input {
    /* padding-right: 16rem; */
    border: 1px solid #F2F2F2;
    overflow: auto;
    font-size: 1.2rem;


}


.search-form button {
    background-color: #0065FC;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 0 1rem 1rem 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}

.fas.fa-search {
    display: none;
}

.search-form button:hover {
    opacity: 1;
    transform: scale(1.03);

}

@media (max-width: 800px) {

    .search-form .search-text {
        display: none;

    }

    .fas.fa-search {
        background-color: inherit;
        display: inline;
    }




}
