@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,700;1,400;1,500&display=swap');
@import url("./css/navbar.css");
@import url("./css/body.css");
@import url("./css/search-form.css");
@import url("./css/filters.css");
@import url("./css/search-results.css");
@import url("./css/appartment-list.css");
@import url("./css/list-appartments-city.css");
@import url("./css/popular.css");
@import url("./css/appartment-card.css");
@import url("./css/appartment-image.css"); 
@import url("./css/activities.css");
@import url("./css/footer.css");